# =========================
# Database Configuration
# =========================
MYSQL_HOST=mysql
MYSQL_PORT=3306
DB_NAME=ticket_online
MYSQL_USERNAME=ticket_user
MYSQL_ROOT_PASSWORD=

# =========================
# Redis Configuration
# =========================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# =========================
# JWT Configuration
# =========================
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_TIME=7200
JWT_REFRESH_TOKEN_EXPIRATION_TIME=604800
JWT_ISSUER=Ticket

# =========================
# VNPay Configuration
# =========================
VNPAY_HASH_SECRET=

# =========================
# Swagger Configuration
# =========================
SWAGGER_VERSION=v1.0
SWAGGER_USER=admin
SWAGGER_PASSWORD=admin

# =========================
# Docker Configuration
# =========================
DOCKER_USERNAME=camdao22
IMAGE_TAG=latest

# =========================
# Application Configuration
# =========================
APP_PORT=8081

# =========================
# JPA Configuration
# =========================
JPA_BATCH_FETCH_SIZE=100

# =========================
# ENV
# =========================
SPRING_PROFILES_ACTIVE=prod